aiohttp>=3.9.1,<4.0.0
fastapi==0.115.8
gunicorn==23.0.0
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
pydantic==2.10.6
solana==0.36.6
streamlit==1.42.1
uvicorn==0.34.0
requests==2.32.4
plotly==6.0.0
anchorpy==0.21.0
driftpy==0.8.64
ccxt==4.2.17
rich>=10.14.0
aiofiles==24.1.0
pyathena==3.14.1